<launch>
  <arg name="output_name" default="$(env HOME)/record.bag"/>
  <node pkg="rosbag" type="record" name="record"
    args="record -o $(arg output_name)
            /rosout /rosout_agg /tf /tf_static /diagnostics /pose /zpu_logs
            -e /zendar_driver_node/points_(.*) /zendar_driver_node/image_(.*)/compressed
            /zendar_driver_node/points_metadata_(.*) /range_markers /ego_vehicle"
  />
</launch>