<launch>
  <!--ROSBRIDGE SERVER FOR WEBVIZ-->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
    <!--START TRANSFORM PUBLISHER-->
  <include file="$(find zensystems)/ros/launch/static_tf.launch"/>
  <!--START SAR AND POINTCLOUD-->
  <arg name="target_url" default="192.168.1.9"/>
  <node pkg="zensystems" type="ros_converter" name="ros_converter">
    <param name="url" type="string" value="$(arg target_url)"/>
  </node>
</launch>
